node_modules
package.lock
*.log
.DS_Store
.dccache

.history

# local env file
/.env

# Ignore act stuff?
.actrc
act/
# ts build stuff
dist/
.test/
*.tsbuildinfo

# yarn 2 stuff
/.yarn/*
!/.yarn/releases/
!/.yarn/plugins/
!/.yarn/versions/
.pnp.*
