.messages-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.message {
  margin: 5px;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 3px 0px gray;
  border-radius: 3px;
}

.message-good {
  color: green;
}
.message-bad {
  color: dark red;
}
